
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myDoctorLabel" data-translate="hshrcApp.doctor.home.createOrEditLabel">Create or edit a Doctor</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.doctor.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.doctor.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="hshrcApp.doctor.enter_test_details" for="field_enter_test_details">Enter Test Details</label>
            <input type="text" class="form-control" name="enter_test_details" id="field_enter_test_details"
                    ng-model="vm.doctor.enter_test_details"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="hshrcApp.doctor.enter_drug_name" for="field_enter_drug_name">Enter Drug Name</label>
            <input type="text" class="form-control" name="enter_drug_name" id="field_enter_drug_name"
                    ng-model="vm.doctor.enter_drug_name"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="hshrcApp.doctor.quantity" for="field_quantity">Quantity</label>
            <input type="text" class="form-control" name="quantity" id="field_quantity"
                    ng-model="vm.doctor.quantity"
                    required/>
            <div ng-show="editForm.quantity.$invalid">
                <p class="help-block"
                    ng-show="editForm.quantity.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="hshrcApp.doctor.frequency" for="field_frequency">Frequency</label>
            <input type="text" class="form-control" name="frequency" id="field_frequency"
                    ng-model="vm.doctor.frequency"
                    required/>
            <div ng-show="editForm.frequency.$invalid">
                <p class="help-block"
                    ng-show="editForm.frequency.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="hshrcApp.doctor.comment" for="field_comment">Comment</label>
            <input type="text" class="form-control" name="comment" id="field_comment"
                    ng-model="vm.doctor.comment"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
