<script src="bower_components/table/table.js"></script>

<div class="col-md-offset-1 col-md-10" >
    <div class="col-sm-6 col-sm-offset-3">
        <div id="imaginary_container">
            Enter UHID: <br>
            <div class="input-group stylish-input-group">
                <input type="text" class="form-control"  placeholder="Search" >
                <span class="input-group-addon">
                        <button type="submit" >
                                <button type="next" class="glyphicon glyphicon-search" id="show_btn"></button>
                        </button>
                    </span>
            </div>
        </div>
    </div>
</div>


<div class="container col-md-offset-1 col-md-10 margin_top1" id="table_visible" >
    <div class="panel panel-primary filterable">
        <div class="panel-heading">
            <h3 class="panel-title">Patients' List</h3>
            <div class="pull-right">
                <button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Filter</button>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
            <tr class="filters">
                <th><input type="text" class="form-control" placeholder="UHID" disabled></th>
                <th><input type="text" class="form-control" placeholder="Token No." disabled></th>
                <th><input type="text" class="form-control" placeholder="Name" disabled></th>
                <th><input type="text" class="form-control" placeholder="Gender" disabled></th>
                <th><input type="text" class="form-control" placeholder="Phone No." disabled></th>

            </tr>
            </thead>
            <tbody>
            <tr data-toggle="collapse" data-target="#tr1" class="accordion-toggle">
                <td>123349</td>
                <td>T2</td>
                <td>Hemant Reddy</td>
                <td>Male</td>
                <td>8909878909</td>
                <td><button class="btn btn-primary btn-xs" ui-sref="doctor">Details</button></td>
            </tr>

            <tr data-toggle="collapse" data-target="#tr2" class="accordion-toggle">
                <td>114523</td>
                <td>T7</td>
                <td>Samwell</td>
                <td>Male</td>
                <td>8909878909</td>
                <td><button class="btn btn-primary btn-xs" ui-sref="doctor">Details</button></td>
            </tr>


            <tr data-toggle="collapse" data-target="#tr3" class="accordion-toggle">
                <td>134504</td>
                <td>T22</td>
                <td>Komal Kumari</td>
                <td>Female</td>
                <td>8909878909</td>
                <td><button class="btn btn-primary btn-xs" ui-sref="doctor">Details</button></td>
            </tr>


            <tr data-toggle="collapse" data-target="#tr4" class="accordion-toggle">
                <td>132343</td>
                <td>T33</td>
                <td>Akash</td>
                <td>Male</td>
                <td>8909878909</td>
                <td><button class="btn btn-primary btn-xs" ui-sref="doctor">Details</button></td>
            </tr>

            </tbody>
        </table>
    </div>


</div>

<div class="row col-md-offset-1 col-md-10 panel-body margin_top1" >
    <div class="panel panel-primary filterable col-hide" id="table_hide">
        <div class="panel-heading panel-body">
            <h3 class="panel-title">Pankaj Yadav</h3>
            <a ui-sref="doctor"><button class="btn btn-default btn-sm pull-right">Details</button></a>
        </div>
        <table class="table table-striped">
            <thead>
            <tr class="filters">
                <th><input type="text" class="form-control" placeholder="UHID" disabled></th>
                <th><input type="text" class="form-control" placeholder="Token No." disabled></th>
                <th><input type="text" class="form-control" placeholder="Name" disabled></th>
                <th><input type="text" class="form-control" placeholder="Gender" disabled></th>
                <th><input type="text" class="form-control" placeholder="Phone No." disabled></th>

            </tr>
            </thead>
            <tbody>
            <tr data-toggle="collapse" data-target="#tr1" class="accordion-toggle">
                <td>123349</td>
                <td>T2</td>
                <td>Hemant Reddy</td>
                <td>Male</td>
                <td>8909878909</td>

            </tr>

            </tbody>
        </table>
    </div>
</div>

<script>
    $(function() {
        $('.col-hide').hide();
        $('#show_btn').on('click', function(){
            $("#table_hide").show();
            $("#table_visible").hide();
        });
    });

</script>




































<!--<div>-->
    <!--<h2 data-translate="hshrcApp.doctor.home.title">Doctors</h2>-->
    <!--<jhi-alert></jhi-alert>-->
    <!--<div class="container-fluid">-->
        <!--<div class="row">-->
            <!--<div class="col-xs-4 no-padding-left">-->
                <!--<button class="btn btn-primary" ui-sref="doctor.new" >-->
                    <!--<span class="glyphicon glyphicon-plus"></span>-->
                    <!--<span  data-translate="hshrcApp.doctor.home.createLabel">-->
                        <!--Create new Doctor-->
                    <!--</span>-->
                <!--</button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<br/>-->
    <!--<div class="table-responsive">-->
        <!--<table class="jh-table table table-striped">-->
            <!--<thead>-->
                <!--<tr>-->
                    <!--<th><span data-translate="global.field.id">ID</span></th>-->
                    <!--<th><span data-translate="hshrcApp.doctor.enter_test_details">Enter Test Details</span></th>-->
                    <!--<th><span data-translate="hshrcApp.doctor.enter_drug_name">Enter Drug Name</span></th>-->
                    <!--<th><span data-translate="hshrcApp.doctor.quantity">Quantity</span></th>-->
                    <!--<th><span data-translate="hshrcApp.doctor.frequency">Frequency</span></th>-->
                    <!--<th><span data-translate="hshrcApp.doctor.comment">Comment</span></th>-->
                    <!--<th></th>-->
                <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
                <!--<tr ng-repeat="doctor in vm.doctors track by doctor.id">-->
                    <!--<td><a ui-sref="doctor-detail({id:doctor.id})">{{doctor.id}}</a></td>-->
                    <!--<td>{{doctor.enter_test_details}}</td>-->
                    <!--<td>{{doctor.enter_drug_name}}</td>-->
                    <!--<td>{{doctor.quantity}}</td>-->
                    <!--<td>{{doctor.frequency}}</td>-->
                    <!--<td>{{doctor.comment}}</td>-->
                    <!--<td class="text-right">-->
                        <!--<div class="btn-group flex-btn-group-container">-->
                            <!--<button type="submit"-->
                                    <!--ui-sref="doctor-detail({id:doctor.id})"-->
                                    <!--class="btn btn-info btn-sm">-->
                                <!--<span class="glyphicon glyphicon-eye-open"></span>-->
                                <!--<span class="hidden-sm-down" data-translate="entity.action.view"></span>-->
                            <!--</button>-->
                            <!--<button type="submit"-->
                                    <!--ui-sref="doctor.edit({id:doctor.id})"-->
                                    <!--class="btn btn-primary btn-sm">-->
                                <!--<span class="glyphicon glyphicon-pencil"></span>-->
                                <!--<span class="hidden-sm-down" data-translate="entity.action.edit"></span>-->
                            <!--</button>-->
                            <!--<button type="submit"-->
                                    <!--ui-sref="doctor.delete({id:doctor.id})"-->
                                    <!--class="btn btn-danger btn-sm">-->
                                <!--<span class="glyphicon glyphicon-remove-circle"></span>-->
                                <!--<span class="hidden-sm-down" data-translate="entity.action.delete"></span>-->
                            <!--</button>-->
                        <!--</div>-->
                    <!--</td>-->
                <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
    <!--</div>-->
<!--</div>-->
