
<div>
    <h2><span data-translate="hshrcApp.doctor.detail.title">Doctor</span> {{vm.doctor.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="hshrcApp.doctor.enter_test_details">Enter Test Details</span></dt>
        <dd>
            <span>{{vm.doctor.enter_test_details}}</span>
        </dd>
        <dt><span data-translate="hshrcApp.doctor.enter_drug_name">Enter Drug Name</span></dt>
        <dd>
            <span>{{vm.doctor.enter_drug_name}}</span>
        </dd>
        <dt><span data-translate="hshrcApp.doctor.quantity">Quantity</span></dt>
        <dd>
            <span>{{vm.doctor.quantity}}</span>
        </dd>
        <dt><span data-translate="hshrcApp.doctor.frequency">Frequency</span></dt>
        <dd>
            <span>{{vm.doctor.frequency}}</span>
        </dd>
        <dt><span data-translate="hshrcApp.doctor.comment">Comment</span></dt>
        <dd>
            <span>{{vm.doctor.comment}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="doctor-detail.edit({id:vm.doctor.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
