
<div>
    <h2><span data-translate="hshrcApp.registration.detail.title">Registration</span> {{vm.registration.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="hshrcApp.registration.first_name">First Name</span></dt>
        <dd>
            <span>{{vm.registration.first_name}}</span>
        </dd>
        <dt><span data-translate="hshrcApp.registration.last_name">Last Name</span></dt>
        <dd>
            <span>{{vm.registration.last_name}}</span>
        </dd>
        <dt><span data-translate="hshrcApp.registration.age">Age</span></dt>
        <dd>
            <span>{{vm.registration.age}}</span>
        </dd>
        <dt><span data-translate="hshrcApp.registration.gender">Gender</span></dt>
        <dd>
            <span>{{vm.registration.gender}}</span>
        </dd>
        <dt><span data-translate="hshrcApp.registration.categoty">Categoty</span></dt>
        <dd>
            <span>{{vm.registration.categoty}}</span>
        </dd>
        <dt><span data-translate="hshrcApp.registration.state">State</span></dt>
        <dd>
            <span>{{vm.registration.state}}</span>
        </dd>
        <dt><span data-translate="hshrcApp.registration.district">District</span></dt>
        <dd>
            <span>{{vm.registration.district}}</span>
        </dd>
        <dt><span data-translate="hshrcApp.registration.address">Address</span></dt>
        <dd>
            <span>{{vm.registration.address}}</span>
        </dd>
        <dt><span data-translate="hshrcApp.registration.relation_with_patient">Relation With Patient</span></dt>
        <dd>
            <span>{{vm.registration.relation_with_patient}}</span>
        </dd>
        <dt><span data-translate="hshrcApp.registration.name_who_bought_patient">Name Who Bought Patient</span></dt>
        <dd>
            <span>{{vm.registration.name_who_bought_patient}}</span>
        </dd>
        <dt><span data-translate="hshrcApp.registration.speciality">Speciality</span></dt>
        <dd>
            <span>{{vm.registration.speciality}}</span>
        </dd>
        <dt><span data-translate="hshrcApp.registration.doctor_to_visit">Doctor To Visit</span></dt>
        <dd>
            <span>{{vm.registration.doctor_to_visit}}</span>
        </dd>
        <dt><span data-translate="hshrcApp.registration.refrel_type">Refrel Type</span></dt>
        <dd>
            <span>{{vm.registration.refrel_type}}</span>
        </dd>
        <dt><span data-translate="hshrcApp.registration.refered_by">Refered By</span></dt>
        <dd>
            <span>{{vm.registration.refered_by}}</span>
        </dd>
        <dt><span data-translate="hshrcApp.registration.registration_fee">Registration Fee</span></dt>
        <dd>
            <span>{{vm.registration.registration_fee}}</span>
        </dd>
        <dt><span data-translate="hshrcApp.registration.uid">Uid</span></dt>
        <dd>
            <span>{{vm.registration.uid}}</span>
        </dd>
        <dt><span data-translate="hshrcApp.registration.phone_number">Phone Number</span></dt>
        <dd>
            <span>{{vm.registration.phone_number}}</span>
        </dd>
        <dt><span data-translate="hshrcApp.registration.uid_random">Uid Random</span></dt>
        <dd>
            <span>{{vm.registration.uid_random}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="registration-detail.edit({id:vm.registration.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
