
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myRegistrationLabel" data-translate="hshrcApp.registration.home.createOrEditLabel">Create or edit a Registration</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.registration.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.registration.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="hshrcApp.registration.first_name" for="field_first_name">First Name</label>
            <input type="text" class="form-control" name="first_name" id="field_first_name"
                    ng-model="vm.registration.first_name"
                    required/>
            <div ng-show="editForm.first_name.$invalid">
                <p class="help-block"
                    ng-show="editForm.first_name.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="hshrcApp.registration.last_name" for="field_last_name">Last Name</label>
            <input type="text" class="form-control" name="last_name" id="field_last_name"
                    ng-model="vm.registration.last_name"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="hshrcApp.registration.age" for="field_age">Age</label>
            <input type="number" class="form-control" name="age" id="field_age"
                    ng-model="vm.registration.age"
                    required/>
            <div ng-show="editForm.age.$invalid">
                <p class="help-block"
                    ng-show="editForm.age.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.age.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="hshrcApp.registration.gender" for="field_gender">Gender</label>
            <input type="text" class="form-control" name="gender" id="field_gender"
                    ng-model="vm.registration.gender"
                    required/>
            <div ng-show="editForm.gender.$invalid">
                <p class="help-block"
                    ng-show="editForm.gender.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="hshrcApp.registration.categoty" for="field_categoty">Categoty</label>
            <input type="text" class="form-control" name="categoty" id="field_categoty"
                    ng-model="vm.registration.categoty"
                    required/>
            <div ng-show="editForm.categoty.$invalid">
                <p class="help-block"
                    ng-show="editForm.categoty.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="hshrcApp.registration.state" for="field_state">State</label>
            <input type="text" class="form-control" name="state" id="field_state"
                    ng-model="vm.registration.state"
                    required/>
            <div ng-show="editForm.state.$invalid">
                <p class="help-block"
                    ng-show="editForm.state.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="hshrcApp.registration.district" for="field_district">District</label>
            <input type="text" class="form-control" name="district" id="field_district"
                    ng-model="vm.registration.district"
                    required/>
            <div ng-show="editForm.district.$invalid">
                <p class="help-block"
                    ng-show="editForm.district.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="hshrcApp.registration.address" for="field_address">Address</label>
            <input type="text" class="form-control" name="address" id="field_address"
                    ng-model="vm.registration.address"
                    required/>
            <div ng-show="editForm.address.$invalid">
                <p class="help-block"
                    ng-show="editForm.address.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="hshrcApp.registration.relation_with_patient" for="field_relation_with_patient">Relation With Patient</label>
            <input type="text" class="form-control" name="relation_with_patient" id="field_relation_with_patient"
                    ng-model="vm.registration.relation_with_patient"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="hshrcApp.registration.name_who_bought_patient" for="field_name_who_bought_patient">Name Who Bought Patient</label>
            <input type="text" class="form-control" name="name_who_bought_patient" id="field_name_who_bought_patient"
                    ng-model="vm.registration.name_who_bought_patient"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="hshrcApp.registration.speciality" for="field_speciality">Speciality</label>
            <input type="text" class="form-control" name="speciality" id="field_speciality"
                    ng-model="vm.registration.speciality"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="hshrcApp.registration.doctor_to_visit" for="field_doctor_to_visit">Doctor To Visit</label>
            <input type="text" class="form-control" name="doctor_to_visit" id="field_doctor_to_visit"
                    ng-model="vm.registration.doctor_to_visit"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="hshrcApp.registration.refrel_type" for="field_refrel_type">Refrel Type</label>
            <input type="text" class="form-control" name="refrel_type" id="field_refrel_type"
                    ng-model="vm.registration.refrel_type"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="hshrcApp.registration.refered_by" for="field_refered_by">Refered By</label>
            <input type="text" class="form-control" name="refered_by" id="field_refered_by"
                    ng-model="vm.registration.refered_by"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="hshrcApp.registration.registration_fee" for="field_registration_fee">Registration Fee</label>
            <input type="number" class="form-control" name="registration_fee" id="field_registration_fee"
                    ng-model="vm.registration.registration_fee"
                    required/>
            <div ng-show="editForm.registration_fee.$invalid">
                <p class="help-block"
                    ng-show="editForm.registration_fee.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.registration_fee.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="hshrcApp.registration.uid" for="field_uid">Uid</label>
            <input type="number" class="form-control" name="uid" id="field_uid"
                    ng-model="vm.registration.uid"
                    required/>
            <div ng-show="editForm.uid.$invalid">
                <p class="help-block"
                    ng-show="editForm.uid.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.uid.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="hshrcApp.registration.phone_number" for="field_phone_number">Phone Number</label>
            <input type="number" class="form-control" name="phone_number" id="field_phone_number"
                    ng-model="vm.registration.phone_number"
                    required/>
            <div ng-show="editForm.phone_number.$invalid">
                <p class="help-block"
                    ng-show="editForm.phone_number.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.phone_number.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group" >
            <label class="control-label" data-translate="hshrcApp.registration.uid_random" for="field_uid_random">Uid Random</label>
            <input type="text" class="form-control" name="uid_random" id="field_uid_random"
                   ng-model="vm.registration.uid_random" ng-include="random()"/>
        </div>


    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>

<script>
    function random() {
        var text1 = "";
        var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

        for (var i = 0; i < 6; i++){
            text1 += possible.charAt(Math.floor(Math.random() * possible.length));
        }
        alert(text1);
        //var val = document.getElementById("field_uid_random");
        document.getElementById("field_uid_random").value = text1;
    }
</script>
