<div>
    <h2 data-translate="hshrcApp.registration.home.title">Registrations</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="registration.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="hshrcApp.registration.home.createLabel">
                        Create new Registration
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="hshrcApp.registration.first_name">First Name</span></th>
                    <th><span data-translate="hshrcApp.registration.last_name">Last Name</span></th>
                    <th><span data-translate="hshrcApp.registration.age">Age</span></th>
                    <th><span data-translate="hshrcApp.registration.gender">Gender</span></th>
                    <th><span data-translate="hshrcApp.registration.categoty">Categoty</span></th>
                    <th><span data-translate="hshrcApp.registration.state">State</span></th>
                    <th><span data-translate="hshrcApp.registration.district">District</span></th>
                    <th><span data-translate="hshrcApp.registration.address">Address</span></th>
                    <th><span data-translate="hshrcApp.registration.relation_with_patient">Relation With Patient</span></th>
                    <th><span data-translate="hshrcApp.registration.name_who_bought_patient">Name Who Bought Patient</span></th>
                    <th><span data-translate="hshrcApp.registration.speciality">Speciality</span></th>
                    <th><span data-translate="hshrcApp.registration.doctor_to_visit">Doctor To Visit</span></th>
                    <th><span data-translate="hshrcApp.registration.refrel_type">Refrel Type</span></th>
                    <th><span data-translate="hshrcApp.registration.refered_by">Refered By</span></th>
                    <th><span data-translate="hshrcApp.registration.registration_fee">Registration Fee</span></th>
                    <th><span data-translate="hshrcApp.registration.uid">Uid</span></th>
                    <th><span data-translate="hshrcApp.registration.phone_number">Phone Number</span></th>
                    <th><span data-translate="hshrcApp.registration.uid_random">Uid Random</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="registration in vm.registrations track by registration.id">
                    <td><a ui-sref="registration-detail({id:registration.id})">{{registration.id}}</a></td>
                    <td>{{registration.first_name}}</td>
                    <td>{{registration.last_name}}</td>
                    <td>{{registration.age}}</td>
                    <td>{{registration.gender}}</td>
                    <td>{{registration.categoty}}</td>
                    <td>{{registration.state}}</td>
                    <td>{{registration.district}}</td>
                    <td>{{registration.address}}</td>
                    <td>{{registration.relation_with_patient}}</td>
                    <td>{{registration.name_who_bought_patient}}</td>
                    <td>{{registration.speciality}}</td>
                    <td>{{registration.doctor_to_visit}}</td>
                    <td>{{registration.refrel_type}}</td>
                    <td>{{registration.refered_by}}</td>
                    <td>{{registration.registration_fee}}</td>
                    <td>{{registration.uid}}</td>
                    <td>{{registration.phone_number}}</td>
                    <td>{{registration.uid_random}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="registration-detail({id:registration.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="registration.edit({id:registration.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="registration.delete({id:registration.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
