<div class="container-fluid ">
    <div class="row panel-body">
        <div class="text-center stacks ">
            <div class="col-md-2 img-circle" >
                <a ui-sref="registration1 button_margin">
                    <img class="img-reponsive" width="160px" height="160px" src="/content/images/newreg.png">
                    <span class="title_sub_tech" >Registration</span>
                </a>
            </div>
            <div class="col-md-2 img-circle button_margin">
                <a ui-sref="uhid2">
                    <img  class="img-reponsive" width="160px" height="160px" src="/content/images/doctor.png">
                    <span class="title_sub_tech" >Doctor</span>
                </a>
            </div>
            <div class="col-md-2 img-circle button_margin">
                <a ui-sref="pharmacy">
                    <img class="img-reponsive" width="160px" height="160px" src="/content/images/pharma.png">
                    <span class="title_sub_tech" >Pharmacy</span>
                </a>
            </div>

            <div class="col-md-2 img-circle button_margin">
                <a ui-sref="lab">
                    <img class="img-reponsive" width="160px" height="160px" src="/content/images/lab.png">
                    <span class="title_sub_tech" >Laboratory </span>
                </a>
            </div>
            <div class="col-md-2 img-circle button_margin">
                <img class="img-reponsive" width="160px" height="160px" src="/content/images/nurse.png">
                <span class="title_sub_tech" >In Patient Department</span>
            </div>
            <div class="col-md-2 img-circle button_margin">
                <a ui-sref="opd">

                    <img class="img-reponsive" width="160px" height="160px" src="/content/images/opd.png">
                    <span class="title_sub_tech" >Out Patient Department</span>
                </a>
            </div>

            <div class="col-md-2 img-circle button_margin">
                <a ui-sref="patient">

                    <img class="img-reponsive" width="160px" height="160px" src="/content/images/patient.png">
                    <span class="title_sub_tech" >Patient</span>
                </a>
            </div>

        </div>
    </div>
</div>
